*.dcu
*.~*
*.identcache
*.local
*.stat
__history/
Win32/
Win64/
*.exe

# Исключение старых неанонимизированных исходных файлов (защита персональных данных)
Отмена приост*
отмена.*
Лист Microsoft Excel*
*testList*
Книга2.*
Повторные_возобновления_ИТОГ.txt
